.btn {
	height: 40px;
	border: none;
	background: #64A8D1;
	color: #FFF;
	font-weight: 400;
	float: left;
	clear: both;
	margin-bottom: 10px;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}

.btn:hover {
	background: #3D9AD1;
}

.btn-100 {
	width: 100%;
}

.btn-50 {
	width: 50%;
}

.btn-25 {
	width: 25%;
}

.btn-10 {
	width: 10%;
}

.btn-success {
	background: #5cb85c;
}

.btn-success:hover {
	background: #47a447;
}

.btn-info {
	background: #5bc0de;
}

.btn-info:hover {
	background: #39b3d7;
}

.btn-warning {
	background: #f0ad4e;
}

.btn-warning:hover {
	background: #ed9c28;
}

.btn-danger {
	background: #d9534f;
}

.btn-danger:hover {
	background: #d2322d;
}