html {
	font-family: 'Open Sans', sans-serif;
	background: #FFF;
}

section.alert {
	width: 100%;
	float: left;
	padding: 5px 0;
	background: #218457;
	color: #FFF;
}

section.alert h3 {
	margin: 0;
	font-size: 14px;
	font-weight: 200;
}

section.alert strong {
	color: #FF9973;
	text-shadow: 0px 1px 1px #000;
    filter: dropshadow(color=#000, offx=0, offy=1);
}

section.fixed {
	width: 100%;
	float: left;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	background: #62D99C;
	margin-bottom: 20px;
}

section.fixed h1 {
	color: #00B358;
	font-weight: 200;
	margin: 0;
	padding: 10px 0;
}

section.fixed h1 strong.dot {
	color: #000;
}

section.fixed h1 strong.title {
	color: #FFF;
}

section.fixed h1 strong {
	color: #22884F;
}

section.buttons {
	clear: both;
}

div.example {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
	float: left;
}

div.example:before {
	content: "Example";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #bbb;
	padding: 10px 0;
	float: left;
}

section.footer {
	width: 100%;
	bottom: 0;
	border-top: 1px solid #eaeaea;
	float: left;
	text-align: center;
	background: #FFF;
}

section.footer h3 {
	font-size: 14px;
	color: #696969;
	font-weight: 200;
}

section.footer a {
	text-decoration: none;
	font-weight: 400;
	color: #64A8D1;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

section.footer a:hover {
	color: #0D58A6;
}