section.alert {
	width: 100%;
	float: left;
	padding: 5px 0;
	background: #49A375;
	color: #FFF;
}

section.alert h3 {
	margin: 0;
	font-size: 14px;
	font-weight: 200;
	text-align: center;
}

section.alert strong {
	color: #FFBAA1;
	text-shadow: 0px 1px 1px #3B3B3B;
    filter: dropshadow(color=#000, offx=0, offy=1);
}

section.fixed {
	width: 100%;
	float: left;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	background: #62D99C;
}

section.fixed h1 {
	color: #00B358;
	font-weight: 200;
	margin: 0;
	padding: 10px 0;
}

section.fixed h1 strong.dot {
	color: #000;
}

section.fixed h1 strong.title {
	color: #FFF;
}

section.fixed h1 strong {
	color: #22884F;
}

section.follow {
	width: 100%;
	float: left;
	z-index: 10;
	right: 0;
	left: 0;
	background: #58C48D;
	padding-top: 15px;
	padding-bottom: 10px;
}

section.intro {
	width: 100%;
	float: left;
	z-index: 10;
	right: 0;
	left: 0;
	margin-bottom: 20px;
	background: #2c3e50;
	padding: 40px 0;
}

section.intro h1 {
	border-bottom: 1px solid #62D99C;
	font-weight: 200;
	color: #FFF;
	margin: 0;
	padding: 5px 0;
	padding-bottom: 0;
}

section.intro a.btn-warning {
	text-decoration: none;
	text-align: center;
	line-height: 38px;
	font-weight: 700;
}

section.intro p {
	font-size: 14px;
	color: #E8E8E8;
	font-weight: 200;
}

section.intro p a,
section.grid-system p a {
	text-decoration: none;
	font-weight: 400;
	color: #64A8D1;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

section.intro p a:hover {
	color: #FFF;
}

section.typo h1.title {
	border-bottom: 1px solid #62D99C;
	font-weight: 200;
	color: #000;
	margin: 0;
	margin-bottom: 20px;
}

section.typo h3.subtitle {
	clear: both;
	border-left: 5px solid #FF6B40;
	background: #FFE3DB;
	color: #000;
	font-weight: 200;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

section.typo h1,h2,h3,h4,h5,h6 {
	clear: both;
	margin: 0;
}

section.typo pre code {
	text-align: left;
	margin-left: 25px;
	padding-left: 0;
	margin-top: -20px;
	padding: 0;
	white-space: pre-line;
	float: left;
}

section.buttons {
	clear: both;
}

section.buttons h1 {
	border-bottom: 1px solid #62D99C;
	font-weight: 200;
	color: #000;
	margin: 0;
	margin-bottom: 20px;
}

section.buttons h3:first-child {
	margin-top: 0;
}

section.buttons h3.subtitle {
	clear: both;
	border-left: 5px solid #FF6B40;
	background: #FFE3DB;
	color: #000;
	font-weight: 200;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

section.grid-system {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

section.grid-system h1.title {
	border-bottom: 1px solid #62D99C;
	font-weight: 200;
	color: #000;
	margin: 0;
	margin-bottom: 20px;
}

section.grid-system p {
	font-weight: 200;
}

section.grid-system p a:hover {
	color: #000;
}

section.grid-system .grid-full div {
	background: #3498db;
	height: 55px;
	color: #333;
	margin-bottom: 15px;
	display: inline;
	float: left;
	margin-right: 20px;
}

section.grid-system .grid-full div:nth-child(even) {
	background: #2980b9;
}

section.grid-system .grid-full div p {
	padding: 0 10px;
	color: #FFF;
}

section.footer {
	width: 100%;
	bottom: 0;
	border-top: 1px solid #eaeaea;
	float: left;
	text-align: center;
	background: #FFF;
}

section.footer h3 {
	font-size: 14px;
	padding: 20px 0;
	color: #696969;
	font-weight: 200;
}

section.footer a {
	text-decoration: none;
	font-weight: 400;
	color: #64A8D1;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

section.footer a:hover {
	color: #0D58A6;
}