section.typo h1.title {
	border-bottom: 1px solid #62D99C;
	font-weight: 200;
	color: #000;
	margin: 0;
	margin-bottom: 20px;
}

section.typo h3.subtitle {
	clear: both;
	border-left: 5px solid #FF6B40;
	background: #FFE3DB;
	color: #000;
	font-weight: 200;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

section.typo h1,h2,h3,h4,h5,h6 {
	clear: both;
	margin: 0;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}

section.typo pre code {
	text-align: left;
	margin-left: 25px;
	padding-left: 0;
	margin-top: -20px;
	padding: 0;
	white-space: pre-line;
	float: left;
}
}