/* line 16, ../../sass/modules/_colors.sass */
.tabs .orange, .wrap.orange .btn-create {
  background-color: #faaf40;
}

/* line 20, ../../sass/modules/_colors.sass */
.orange .news h3 {
  background-color: #faaf40;
}
/* line 22, ../../sass/modules/_colors.sass */
.orange .line {
  background-color: #faaf40;
}
/* line 24, ../../sass/modules/_colors.sass */
.orange .line i {
  background-color: #faaf40;
}

/* line 27, ../../sass/modules/_colors.sass */
.wrap.orange .results, .orange .box h3 {
  background-color: #faaf40;
}

/* line 30, ../../sass/modules/_colors.sass */
.wrap.blue header, .tabs .blue, .wrap.blue .btn-create {
  background-color: #0066a4;
}

/* line 34, ../../sass/modules/_colors.sass */
.blue .news h3 {
  background-color: #0066a4;
}
/* line 36, ../../sass/modules/_colors.sass */
.blue .line {
  background-color: #0066a4;
}
/* line 38, ../../sass/modules/_colors.sass */
.blue .line i {
  background-color: #0066a4;
}

/* line 41, ../../sass/modules/_colors.sass */
.wrap.blue .results {
  background-color: #0066a4;
}

/* line 45, ../../sass/modules/_colors.sass */
.blue .invest, .blue .box h3 {
  background-color: #0066a4;
}

/* line 49, ../../sass/modules/_colors.sass */
.orange.wrap p, .orange div.development h4, .orange .invest .total b, .orange .icos .link a {
  color: #faaf40;
}

/* line 53, ../../sass/modules/_colors.sass */
.blue.wrap p, .blue div.development h4, .blue .invest .total b, .blue .icos .link a {
  color: #6295c5;
}

/* line 56, ../../sass/modules/_colors.sass */
.filtros .orange.wrap form, .destaque .orange.wrap {
  border-color: #faaf40;
}

/* line 59, ../../sass/modules/_colors.sass */
.filtros .blue.wrap form, .destaque .blue.wrap {
  border-color: #0066a4;
}

/* line 63, ../../sass/modules/_colors.sass */
li.orange i {
  border-right: 30px solid #0066a4;
}
/* line 65, ../../sass/modules/_colors.sass */
li.blue i {
  border-right: 30px solid white;
}

/* line 69, ../../sass/modules/_colors.sass */
.blue .invest div {
  width: auto;
  float: none;
}
/* line 72, ../../sass/modules/_colors.sass */
.blue .invest h3 {
  color: white;
}

/* line 1, ../../sass/modules/_helper.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 6, ../../sass/modules/_helper.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 12, ../../sass/modules/_helper.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 16, ../../sass/modules/_helper.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 26, ../../sass/modules/_helper.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 34, ../../sass/modules/_helper.sass */
.invisible {
  visibility: hidden;
}

/* line 37, ../../sass/modules/_helper.sass */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../sass/modules/_helper.sass */
.clearfix:before {
  content: " ";
  display: table;
}
/* line 41, ../../sass/modules/_helper.sass */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
