/* line 1, ../../sass/partials/blockquote.sass */
blockquote {
  padding: 10px 20px;
  margin: 0 0;
  border-left: 5px solid #eeeeee;
  float: left;
  width: 100%;
}
/* line 7, ../../sass/partials/blockquote.sass */
blockquote p {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
}
/* line 11, ../../sass/partials/blockquote.sass */
blockquote small {
  display: block;
  color: #999999;
}
/* line 12, ../../sass/partials/blockquote.sass */
blockquote small:before {
  content: "\2014 \00A0";
}
