/* line 1, ../../sass/partials/forms.sass */
form {
  float: left;
  clear: both;
  width: 100%;
}

/* line 6, ../../sass/partials/forms.sass */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 11, ../../sass/partials/forms.sass */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 22, ../../sass/partials/forms.sass */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 28, ../../sass/partials/forms.sass */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 32, ../../sass/partials/forms.sass */
input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
/* line 37, ../../sass/partials/forms.sass */
input[type="file"] {
  display: block;
  line-height: 5px;
  font-size: 14px;
}

/* line 43, ../../sass/partials/forms.sass */
select[multiple], select[size] {
  height: auto;
}
/* line 45, ../../sass/partials/forms.sass */
select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

/* line 51, ../../sass/partials/forms.sass */
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 56, ../../sass/partials/forms.sass */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

/* line 59, ../../sass/partials/forms.sass */
.form-control {
  display: block;
  width: 97.7%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 2px solid #f6f6f6;
  -webkit-transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}
/* line 60, ../../sass/partials/forms.sass */
.form-control:-moz-placeholder, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #999999;
}
/* line 74, ../../sass/partials/forms.sass */
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 79, ../../sass/partials/forms.sass */
.form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

/* line 83, ../../sass/partials/forms.sass */
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

/* line 87, ../../sass/partials/forms.sass */
textarea.form-control {
  height: auto;
}

/* line 90, ../../sass/partials/forms.sass */
.form-group {
  margin-bottom: 15px;
  clear: both;
}

/* line 94, ../../sass/partials/forms.sass */
.radio, .checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 14px;
}

/* line 103, ../../sass/partials/forms.sass */
.radio label, .checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

/* line 109, ../../sass/partials/forms.sass */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

/* line 113, ../../sass/partials/forms.sass */
.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px;
}

/* line 116, ../../sass/partials/forms.sass */
.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

/* line 124, ../../sass/partials/forms.sass */
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

/* line 128, ../../sass/partials/forms.sass */
.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 135, ../../sass/partials/forms.sass */
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 143, ../../sass/partials/forms.sass */
select.input-lg {
  height: 45px;
  line-height: 45px;
}
/* line 146, ../../sass/partials/forms.sass */
select.input-sm {
  height: 30px;
  line-height: 30px;
}

/* line 151, ../../sass/partials/forms.sass */
textarea.input-lg, textarea.input-sm {
  height: auto;
}

/* line 155, ../../sass/partials/forms.sass */
.has-warning .help-block, .has-warning .control-label {
  color: #f0ad4e;
}
/* line 157, ../../sass/partials/forms.sass */
.has-warning .form-control {
  border-color: #f0ad4e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 161, ../../sass/partials/forms.sass */
.has-warning .form-control:focus {
  border-color: #f0ad4e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0ad4e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0ad4e;
}
/* line 165, ../../sass/partials/forms.sass */
.has-warning .input-group-addon {
  color: #f0ad4e;
  background-color: #fcf8e3;
  border-color: #f0ad4e;
}

/* line 171, ../../sass/partials/forms.sass */
.has-error .help-block, .has-error .control-label {
  color: #d9534f;
}
/* line 173, ../../sass/partials/forms.sass */
.has-error .form-control {
  border-color: #d9534f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 177, ../../sass/partials/forms.sass */
.has-error .form-control:focus {
  border-color: #d9534f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d9534f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d9534f;
}
/* line 181, ../../sass/partials/forms.sass */
.has-error .input-group-addon {
  color: #d9534f;
  background-color: #f2dede;
  border-color: #d9534f;
}

/* line 187, ../../sass/partials/forms.sass */
.has-success .help-block, .has-success .control-label {
  color: #5cb85c;
}
/* line 189, ../../sass/partials/forms.sass */
.has-success .form-control {
  border-color: #5cb85c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 193, ../../sass/partials/forms.sass */
.has-success .form-control:focus {
  border-color: #5cb85c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5cb85c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5cb85c;
}
/* line 197, ../../sass/partials/forms.sass */
.has-success .input-group-addon {
  color: #5cb85c;
  background-color: #dff0d8;
  border-color: #5cb85c;
}

/* line 202, ../../sass/partials/forms.sass */
.form-control-static {
  padding-top: 6px;
  margin-bottom: 0;
}

/* line 206, ../../sass/partials/forms.sass */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 14px;
}

/* line 214, ../../sass/partials/forms.sass */
.form-inline .form-control, .form-inline .radio, .form-inline .checkbox {
  display: inline-block;
  width: auto;
}
/* line 217, ../../sass/partials/forms.sass */
.form-inline .btn {
  float: none;
}
/* line 219, ../../sass/partials/forms.sass */
.form-inline .radio, .form-inline .checkbox {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 223, ../../sass/partials/forms.sass */
.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0;
}

/* line 228, ../../sass/partials/forms.sass */
.form-horizontal .control-label, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 6px;
}
/* line 231, ../../sass/partials/forms.sass */
.form-horizontal .form-group:before {
  display: table;
  content: " ";
}
/* line 234, ../../sass/partials/forms.sass */
.form-horizontal .form-group:after {
  display: table;
  content: " ";
  clear: both;
}
/* line 238, ../../sass/partials/forms.sass */
.form-horizontal .form-group:before {
  display: table;
  content: " ";
}
/* line 241, ../../sass/partials/forms.sass */
.form-horizontal .form-group:after {
  display: table;
  content: " ";
  clear: both;
}
