/* line 1, ../../sass/partials/misc.sass */
html {
  font-family: "Open Sans", sans-serif;
  background: white;
}

/* line 5, ../../sass/partials/misc.sass */
div.example {
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
/* line 10, ../../sass/partials/misc.sass */
div.example:before {
  content: "Example";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #bbbbbb;
  padding: 10px 0;
  float: left;
}

/* line 19, ../../sass/partials/misc.sass */
h3.how-to {
  clear: both;
  border-left: 5px solid #034569;
  background: #235b79;
  color: white;
  font-weight: 200;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 16px !important;
}

/* line 32, ../../sass/partials/misc.sass */
.gh-button {
  width: 80px;
}

/* line 35, ../../sass/partials/misc.sass */
.gh-follow-button {
  margin-left: -4px;
}

/* line 38, ../../sass/partials/misc.sass */
h3.subtitle {
  clear: both;
  border-left: 5px solid #ff6b40;
  background: #fff7f5;
  color: black;
  font-weight: 200;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
}

/* line 49, ../../sass/partials/misc.sass */
.section {
  width: 100%;
  float: left;
}

/* line 53, ../../sass/partials/misc.sass */
.gist {
  float: left;
  width: 100%;
  clear: both;
}
/* line 57, ../../sass/partials/misc.sass */
.gist .gist-file .gist-data .line-numbers {
  width: 1px !important;
}
