/* line 1, ../../sass/partials/tables.sass */
table {
  max-width: 100%;
  background-color: transparent;
  font-weight: 200;
}

/* line 6, ../../sass/partials/tables.sass */
th {
  text-align: left;
}

/* line 9, ../../sass/partials/tables.sass */
.table {
  width: 100%;
  margin-bottom: 20px;
}
/* line 12, ../../sass/partials/tables.sass */
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 17, ../../sass/partials/tables.sass */
.table thead > tr > th {
  vertical-align: bottom;
}
/* line 19, ../../sass/partials/tables.sass */
.table caption + thead tr:first-child th, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 21, ../../sass/partials/tables.sass */
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
/* line 23, ../../sass/partials/tables.sass */
.table .table {
  background-color: white;
}

/* line 27, ../../sass/partials/tables.sass */
.table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th, .table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td {
  padding: 5px;
}

/* line 30, ../../sass/partials/tables.sass */
.table-bordered {
  border: 1px solid #dddddd;
}
/* line 33, ../../sass/partials/tables.sass */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

/* line 37, ../../sass/partials/tables.sass */
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* line 41, ../../sass/partials/tables.sass */
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: whitesmoke;
}

/* line 45, ../../sass/partials/tables.sass */
table col[class^="col-"] {
  display: table-column;
  float: none;
}
/* line 48, ../../sass/partials/tables.sass */
table td[class^="col-"], table th[class^="col-"] {
  display: table-cell;
  float: none;
}

/* line 53, ../../sass/partials/tables.sass */
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background-color: whitesmoke;
}
/* line 55, ../../sass/partials/tables.sass */
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background-color: #2ecc71;
  border-color: #36ff8b;
  color: white;
}
/* line 59, ../../sass/partials/tables.sass */
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: #e74c3c;
  border-color: #ff9287;
  color: white;
}
/* line 63, ../../sass/partials/tables.sass */
.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
  background-color: #ffff63;
  border-color: #f1c40f;
  color: black;
}

/* line 70, ../../sass/partials/tables.sass */
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}
/* line 73, ../../sass/partials/tables.sass */
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}
/* line 77, ../../sass/partials/tables.sass */
.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}
/* line 80, ../../sass/partials/tables.sass */
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}
/* line 84, ../../sass/partials/tables.sass */
.table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
/* line 87, ../../sass/partials/tables.sass */
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
